body h2{
    text-align: center;
    margin-top: 50px;
}
#assignChoreForm{
    text-align: center;
    margin-top: 10%;
    width: 100%;
    margin-top: -5px;
    border-radius: 10px;
}

#assignChoreForm label{
    text-align: left;
}
#assignChoreForm .due-date{
    display: block;
    width: 100%;
}

#assignChoreForm .assign-button{
    margin-top: 10px;
}

.chore-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.chore-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}